node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.eslintrc.json
eslint.config.js
allure-results
allure-report
src/.auth
logs
/api/clients/products.client.toPlay.ts
/api/tests/products.negative.spec.ts
